@media screen and (min-height: 1081px) and (min-width: 2000px)
  .usik
    &__image
      top: 207px
    &__text
      transform-origin: left center
      transform: scale(1.2)
    &__footer
      &__copy-sponsor
        transform-origin: right center
        transform: scale(1.7)
        margin: 0 60px 0 0
        svg:not(:last-child)
          margin: 0 25px 0 0
      &__copy-apple
        margin: 0 25px 0 0

@media screen and (min-height: 1200px) and (min-width: 2000px)
  .usik
    &__image
      top: 245px
    &__text
      transform: scale(1.4)

@media screen and (min-height: 1325px) and (min-width: 2000px)
  .usik
    &__image
      top: 296px
    &__text
      transform: scale(1.5)

@media screen and (min-height: 1460px) and (min-width: 2000px)
  .usik
    &__image
      top: 349px

@media screen and (max-width: 1920px) and (max-height: 975px)
  .usik
    &__pic
      right: 12px
    &__image
      top: 140px

@media screen and (max-width: 1690px) and (max-height: 1070px)
  .usik
    padding: 0 0 0 38px
    &__pic
      right: -117px
    &__image
      top: 189px
    &__quote
      top: -8px
    &__footer
      height: 105px
      &__text
        &-left
          font-size: 61px
          margin: 0 20px 0 0
        &-right
          font-size: 21px
          line-height: 25px
      &__plus
        margin: 0 25px 0 25px
      &__copy
        &-apple
          max-width: 166px
        &-google
          max-width: 190px

@media screen and (max-width: 1690px) and (max-height: 995px)
  .usik
    &__pic
      right: -75px
    &__image
      top: 168px

@media screen and (max-width: 1690px) and (max-height: 935px)
  .usik
    &__image
      top: 154px

@media screen and (max-width: 1610px) and (max-height: 910px)
  .usik
    &__logo
      transform-origin: left top
      transform: scale(0.8)

@media screen and (max-width: 1610px) and (max-height: 850px)
  .usik
    &__image
      top: 138px
    &__pic
      right: -44px

@media screen and (max-width: 1610px) and (max-height: 800px)
  .usik
    &__image
      top: 123px
    &__text
      transform-origin: left center
      transform: scale(0.9)
      &-top
        margin: 0 0 29px 0
    &__pic
      right: 10px

@media screen and (max-width: 1545px) and (max-height: 875px)
  .usik
    &__legal
      height: 55px
    &__footer
      bottom: 55px

@media screen and (max-width: 1545px) and (max-height: 752px)
  .usik
    &__text
      transform: scale(0.84)

@media screen and (max-width: 1450px) and (max-height: 910px)
  .usik
    &__pic
      right: -166px
    &__text
      transform-origin: left center
      transform: scale(0.9)
    &__quote
      transform-origin: center
      transform: scale(0.9)
    &__footer
      height: 103px
      padding: 0 15px
      &__plus
        margin: 0 20px 0 20px
        transform: scale(0.8)
      &__text
        &-right
          max-width: 178px
          min-width: 139px
      &__info
        margin: 0 20px 0 0

@media screen and (max-width: 1450px) and (max-height: 830px)
  .usik
    &__pic
      right: -76px

@media screen and (max-width: 1450px) and (max-height: 756px)
  .usik
    &__pic
      right: -43px

@media screen and (max-width: 1450px) and (max-height: 740px)
  .usik
    &__image
      top: 111px

@media screen and (max-width: 1375px) and (max-height: 1026px)
  .usik
    padding: 0 0 0 21px
    &__logo
      transform-origin: left top
      transform: scale(0.85)
    &__pic
      right: -225px
    &__text
      transform-origin: left center
      transform: scale(0.85)
      &-number
        margin: 0 31px 0 0
      &-top
        margin: 0 0 30px 0
    &__quote
      transform: scale(0.9)
      top: 4px
    &__footer
      height: 95px
      padding: 0 15px
      &__plus
        margin: 0 20px 0 20px
        transform: scale(0.8)
      &__text
        &-right
          max-width: 178px
          min-width: 139px
        &-left
          font-size: 55px
      &__info
        margin: 0 20px 0 0

@media screen and (max-width: 1375px) and (max-height: 950px)
  .usik
    &__pic
      right: -148px

@media screen and (max-width: 1375px) and (max-height: 885px)
  .usik
    &__pic
      right: -99px

@media screen and (max-width: 1375px) and (max-height: 770px)
  .usik
    &__logo
      transform: scale(0.8)
    &__footer
      height: 86px
      bottom: 47px
    &__legal
      height: 47px
    &__image
      top: 141px
    &__pic
      right: -58px
    &__quote
      top: 14px

@media screen and (max-width: 1375px) and (max-height: 732px)
  .usik
    &__image
      top: 129px
    &__logo
      transform: scale(0.7)

@media screen and (max-width: 1375px) and (max-height: 680px)
  .usik
    &__image
      top: 124px
    &__pic
      right: -23px

@media screen and (max-width: 1375px) and (max-height: 655px)
  .usik
    &__image
      top: 119px
    &__pic
      right: -3px
    &__text
      transform: scale(0.8)

@media screen and (max-width: 1375px) and (max-height: 645px)
  .usik
    &__image
      top: 112px
    &__text
      &-top
        margin: 0 0 20px 0

@media screen and (max-width: 1285px) and (max-height: 805px)
  .usik
    &__image
      top: 143px
    &__pic
      right: -125px
    &__quote
      top: 11px
    &__text
      transform: scale(0.8)
    &__footer
      height: 83px
      &__text
        &-left
          font-size: 45px
          margin: 0 10px 0 0
        &-right
          font-size: 16px
          line-height: 19px
          min-width: 105px

@media screen and (max-width: 1285px) and (max-height: 760px)
  .usik
    &__image
      top: 134px

@media screen and (max-width: 1285px) and (max-height: 760px)
  .usik
    &__image
      top: 129px
    &__pic
      right: -60px

@media screen and (max-width: 1285px) and (max-height: 690px)
  .usik
    &__image
      top: 121px
    &__pic
      right: -52px

@media screen and (max-width: 1285px) and (max-height: 653px)
  .usik
    &__image
      top: 114px

@media screen and (max-width: 1285px) and (max-height: 615px)
  .usik
    &__image
      top: 106px
    &__text
      transform: scale(0.8)
    &__pic
      right: -21px
    &__logo
      transform: scale(0.65)

@media screen and (max-width: 1259px) and (max-height: 1025px)
  .usik
    &__text
      transform: scale(0.77)
    &__footer
        height: 94px
        &__plus
          transform: scale(0.6)
          margin: 0
        &__text
          &-left
            font-size: 50px
          &-right
            font-size: 16px
            line-height: 18px
            min-width: 105px


@media screen and (max-width: 1185px) and (max-height: 830px)
  .usik
    &__text
      transform: scale(0.65)
    &__logo
      transform: scale(0.75)
    &__pic
      right: -80px
    &__image
      top: 156px
    &__quote
      top: 31px
    &__footer
      height: 76px
      &__plus
        transform: scale(0.6)
        margin: 0
      &__text
        &-left
          font-size: 45px
        &-right
          font-size: 16px
          line-height: 18px
          min-width: 105px

@media screen and (max-width: 1029px) and (max-height: 770px)
  .usik
    &__logo
      transform: scale(0.7)
    &__text
      transform: scale(0.65)
    &__pic
      right: -177px
    &__image
      top: 156px
    &__quote
      top: 31px
    &__footer
      height: 66px
      &__plus
        transform: scale(0.6)
        margin: 0
      &__text
        &-left
          font-size: 35px
        &-right
          font-size: 12px
          line-height: 15px
          min-width: 79px

@media screen and (max-width: 1029px) and (max-height: 725px)
  .usik
    &__image
      top: 148px
    &__pic
      right: -126px

@media screen and (max-width: 1029px) and (max-height: 690px)
  .usik
    &__image
      top: 140px
    &__pic
      right: -91px

@media screen and (max-width: 1029px) and (max-height: 642px)
  .usik
    &__image
      top: 131px


/***********************************TABLET***************************************/

@media screen and (max-width: 1024px) and (orientation: portrait)






