
.usik
    a(href='https://www.favbet.com/uk/sports/event/boxing/35620827/' class='usik-link')
    .usik__logo
        svg(width="421" height="184")
            use(href='img/logo.svg#logo')
    .usik__text
        .usik__text-top
            .usik__text-number
                .usik__text-date 21.08
                .usik__text-time 00:30
            .usik__text-info
                .usik__text-name Олександр Усик
                .usik__text-enemy
                    img(src='img/vs.svg' alt="vs")
                    span Ентоні Джошуа
        a(href='https://www.favbet.com/uk/sports/event/boxing/35620827/').usik__text-btn Став на чемпіона
    .usik__pic
        .usik__image
            picture.usik__image-main
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/usik-mob.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/usik-landscape.png")
                source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/usik-tab.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/usik-desc.png")
                img(src="img/usik-desc.png" alt="Favbet")
        .usik__quote
    .usik__footer
        .usik__footer__row
            .usik__footer__info
                .usik__footer__text
                    .usik__footer__text-left 500₴
                    .usik__footer__text-right ставка #[br] без ризику
                .usik__footer__plus +
                .usik__footer__text
                    .usik__footer__text-left 4500₴
                    .usik__footer__text-right На перший депозит
            .usik__footer__copy
                .usik__footer__copy-sponsor
                    svg(width="38" height="25" class='plus')
                        use(href='img/21+.svg#21+')
                    svg(width="56" height="23" class='applePay')
                        use(href='img/applePay.svg#applePay')
                    svg(width="56" height="23" class='googlePlay')
                        use(href='img/googlePay.svg#googlePay')
                    svg(width="38" height="25" class='visa-gray')
                        use(href='img/visa.svg#visa')
                    svg(width="38" height="25" class='visa-magenta')
                        use(href='img/visa-magenta.svg#visaMagenta')
                    svg(width="36" height="21" class='mastercard')
                        use(href="img/mastercard.svg#mastercard")
                .usik__footer__copy-links
                    a(href='https://www.favbet.com/uk/sports/event/boxing/35620827/').usik__footer__copy-link.usik__footer__copy-apple
                        picture.usik__image-main
                            source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/appStore-mob.svg")
                            source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/appStore.png")
                            source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/appStore.png")
                            source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/appStore.png")
                            img(src="img/appStore.png" alt="Favbet")
                    a(href='https://www.favbet.com/uk/sports/event/boxing/35620827/').usik__footer__copy-link.usik__footer__copy-google
                        picture.usik__image-main
                            source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/googleStore-mob.svg")
                            source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/googleStore.png")
                            source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/googleStore.png")
                            source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/googleStore.png")
                            img(src="img/googleStore.png" alt="Favbet")
    .usik__legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ



